{% extends "app/base.html" %}
{% load static %}
{%block title%} About{%endblock title%}
{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride = "carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static  'app/images/banner/b1.jpg'%}" class="d-block w-100" alt="banner img">
      </div>
      <div class="carousel-item ">
        <img src="{% static  'app/images/banner/b2.jpg'%}" class="d-block w-100" alt="banner img">
      </div>
      <div class="carousel-item ">
        <img src="{% static  'app/images/banner/b3.jpg'%}" class="d-block w-100" alt="banner img">
      </div>
      <div class="carousel-item ">
        <img src="{% static  'app/images/banner/b4.jpg'%}" class="d-block w-100" alt="banner img">
      </div>
    </div>  
  </div>
{% endblock banner_slider %}
{% block main-content %}
<h2 class = "text-center"> About Us</h2>
    <div class="row container">
        <p class="fs-4 text-center">
            Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même extrait sans fin, 
            ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum
        </p>
    </div>
    <br></br>
    <h2 class = "text-center"> Mission</h2>
    <div class="row container">
        <p class="fs-4 text-center">
            il utilise un dictionnaire de plus de 200 mots latins, 
            en combinaison de plusieurs structures de phrases, 
            pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum 
            ainsi obtenu ne contient aucune répétition,
             ni ne contient des mots farfelus, ou des touches d'humour.
        </p>
    </div>
{%endblock main-content%}